@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import "./varibles.scss";
.about{
    h1{
        text-align: center;
        padding: 5px;
        color: #165fa3;
        font-size: 3rem;
    }
}
.about_section {
    display: flex;
    justify-content: space-around;
    @media (max-width:870px) {
        flex-direction: column;
        justify-content: center;
        width: 550px;
        margin: 0 20px 0 9px;
    }
    @media (max-width:650px) {
        
        width: 550px;
        margin: 20px;
    }

    .about_left_side {
        display: flex;
        width: 250px;
        padding: 30px;

        ul {
            // border-bottom: 2px solid red;
            background-image: linear-gradient(to right top, #10b9f4, #008dd9, #0060b9, #003593, #0d0066);
            border-radius: 15px;
            width: 350px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            @media (max-width:870px) {
                flex-direction: row;
                justify-content: center;
                height: 40px;
                width: 800px;
                padding: 6px;
            }
            @media (max-width:650px) {
                // flex-direction: row;
                // justify-content: center;
                // height: 40px;
                // width: 600px;
                // padding: 6px;
            }

            li {
                list-style: none;
                color: black;
                text-align: center;
                font-size: 1.5rem;
                color: white;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    color: $hover_color;
                }
                @media (max-width:870px) {
                    width: 145px;
                }
                @media (max-width:650px) {
                    width: 130px;
                }
            }
        }
    }

    .about_right_side {
        // border: 2px solid red;
        background-color: rgba(240, 247, 255, 0.8);
        border-radius: 15px;
        display: flex;
        width: 660px;
        height: 300px;

        @media (max-width:650px) {
            flex-direction: column;
            justify-content: center;
            height: auto;
            width: 481px;
            margin: auto 50px;
        }

        .right_img {
            img {
                height: 250px;
                padding: 20px;

                @media (max-width:650px) {
                    padding-left: 150px;
                }
            }

        }

        .right_contain {
            padding: 20px; 
            p {
                line-height: 20px;
                letter-spacing: 1px;
                margin-top: 10px;
            }
            h2,h3{
                color: #F41070;
            }
        }

    }
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
        
    color: #0a02f9 !important;
}