Button{
   
    width: 135px !important;
    height: 45px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(25deg,rgba(244, 4, 4, 0.753),rgb(69, 56, 248));
    /* background-image: linear-gradient(to right top, #250ff2, #1229f1, #0038ee, #0044eb, #004ee7, #034ce0, #064ad8, #0948d1, #093bc6, #0c2cba, #0e1dae, #1106a2); */
    color: white !important;
    border-radius: 5px;
    border: 1px solid rgb(247, 229, 229) !important;
    font-weight: 600;
    
}
Button:hover{
    background: linear-gradient(25deg,rgba(170, 153, 247, 0.753),rgb(249, 82, 110));
    color: #0a02f9 !important;
}
.link{
    text-decoration: none;
    color: white;
    
}